.box-navTabs {
  
}
  .box-navTabs .nav-link {
    border: 0px;
    text-align: center;
    aspect-ratio: 1;
    position: relative;
    margin: 0px 12px !important;
    white-space: pre;
  }
  .box-navTabs .owl-carousel .owl-item::after {
    content: "";
    position: absolute;
    right: -6px;
    height: 44px;
    border-left: 1px solid #dadada;
    top: 50%;
    transform: translateY(-50%);
  }
  .box-navTabs .owl-carousel .owl-item:last-child::after {
    display: none;
  }

.box-Learning {
  
}
  .box-Learning .owl-carousel {
    width: 104%;
    margin-left: -4%;
  }
    .box-Learning .item .img img {
      aspect-ratio: 355 / 192;
    }
    
  .box-Learning .arrow-default {
    display: flex;
    align-items: start;
    margin-top: 23px;
  }
    .box-Learning .arrow-default .o-prev ,
    .box-Learning .arrow-default .o-next {
      background: url(../images/icon-prev.png) no-repeat center;
      background-size: contain;
      margin: 0px 5px;
      width: 40px;
      aspect-ratio: 1;
    }
    .box-Learning .arrow-default .o-next {
      background-image: url(../images/icon-next.png);
    }

    .box-Learning .owl-nav {
      all: initial;
      order: 1;
      display: none !important;
      justify-content: center;
    }
      .box-Learning .owl-nav button {
        position: inherit;
        transform: none !important;
        background-color: #000;
        background: url(../images/icon-prev.png) no-repeat center;
        background-size: contain;
        margin: 0px 5px;
        width: 40px;
      }
        .box-Learning .owl-nav button.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
        .box-Learning .owl-nav button.owl-next {
          background-image: url(../images/icon-next.png);
        }

.box-courses {

}
  .box-courses .item {
    color: #000;
    padding: 0px 25px;
    display: block;
  }
    .box-courses .item .img {
      border-radius: var(--border_radius);
    }
      .box-courses .item img {
        aspect-ratio: 355 / 192;
        object-fit: cover;
      }

    .box-courses .item .text {
      margin-top: 12px;
    }
      .box-courses .item .-type.border0 {
        margin: 12px 0px 7px 0px;
        border: none;
      }

.box-Course-syllabus {
  margin-top: 18px;
}
  .box-Course-syllabus .item {
    width: 100%;
    position: relative;
    display: flex;
    padding: 10px 17px;
    margin: 13px 0px;
    border-radius: 8px;
    border: 1px solid #CCCCCC
  }
  .box-Course-syllabus .item.finished {
    background: #F8FFEE !important;
    border: 1px solid #75DB6A !important;
  }
  .box-Course-syllabus .item.active ,
  .box-Course-syllabus .item:hover {
    border-image: linear-gradient(90deg, #2BCB7E 0%, #37A8E2 100%) 1 !important;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #2BCB7E 0%, #37A8E2 100%) border-box !important;
    border-radius: 8px !important;
    border: 1px solid transparent;
    overflow: hidden;
  }
    .box-Course-syllabus .-icon {
      position: relative;
    }
    .box-Course-syllabus .item.finished .-icon::after {
      content: "";
      position: absolute;
      background: #fff url(../images/Vector.png) no-repeat center;
      background-size: contain;
      width: 17.5px;
      aspect-ratio: 1;
      right: 14px;
      top: 1px;
      border-radius: 50%;
    }
      .box-Course-syllabus .-icon img {
        border-right: 1px solid #DDDDDD;
        width: 40px;
        padding-right: 20px;
        box-sizing: content-box;
      }

    .box-Course-syllabus  .text {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-left: 20px;
    }
      .box-Course-syllabus .text b {
        color: #000;
      }
      .box-Course-syllabus .text span {
        color: #747474;
      }

      .box-Course-syllabus .item .img {
        border-radius: 8px;
        overflow: hidden;
        margin: 5px 0px;
      }
        .box-Course-syllabus .item .img img {
            max-width: 400px;
        }

      .box-Course-syllabus .item  .-button {
        margin-left: auto;
        border-left: 1px solid #DDDDDD;
        padding: 10px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        max-width: 210px;
      }

.box-Course-syllabus-tab {
  border-left: 1px solid #dee2e6 !important;
}
  .box-Course-syllabus-tab .tab-pane .-video {
    height: 100%;
    background: #F8F8F8;
    border-radius: var(--border_radius);
    padding: 20px;
  }
  .box-Course-syllabus-tab .-video {

  }
    .box-Course-syllabus-tab .-video .video {
      overflow: hidden;
      border-radius: var(--border_radius);
    }
    .box-Course-syllabus-tab .-video .img {
      border-radius: var(--border_radius);
    }
      .box-Course-syllabus-tab .-video .video ,
      .box-Course-syllabus-tab .-video .img img {
        aspect-ratio: 500 / 300;
        object-fit: cover;
        width: 100%;
      }
      .box-Course-syllabus-tab .-video .img .btn-play-video {
        position: absolute;
        inset: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        z-index: 1;
        background-color: rgb(0 0 0 / 40%);
      }
        .box-Course-syllabus-tab .-video .img .btn-play-video button {
          background: transparent url(../../public/images/icon-Play.png) center no-repeat;
          background-size: contain;
          width: 70px;
          aspect-ratio: 1;
          cursor: pointer;
        }

/* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  
}

/* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .box-courses .item {
    padding: 15px;
  }
  /* แนวตั้ง */
  @media only screen and (orientation:portrait){
    .box-Learning .owl-carousel {
      width: 100%;
      margin-left: 0px;
    }
    .box-Course-syllabus .item {
      flex-flow: wrap;
    }
    .box-Course-syllabus .item .img {
      margin: 15px auto;
    }
  }
  /* แนวนอน */
  @media only screen and (orientation:landscape){
    .box-Course-syllabus .item .img img {
      max-width: 315px;
    }
  }
}

/* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .box-Learning .owl-carousel {
    width: 100%;
    margin-left: 0px;
  }
  .box-courses .item {
    padding: 10px;
  }
  .box-Course-syllabus-tab {
    border: 0px !important;
    order: -1;
    padding: 0;
  }
  .box-Course-syllabus-tab .tab-pane .-video {
    border-radius: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .box-Course-syllabus .item {
    flex-flow: wrap;
  }
  .box-Course-syllabus .item .img {
    margin: 15px auto;
  }
  .box-Course-syllabus .item .-button {
    width: 100%;
    border-left: 0px;
    max-width: none;
    border-top: 1px solid #DDDDDD;
    padding: 13px 0px;
    margin-top: 13px;
    padding-top: 25px;
  }
  .box-Course-syllabus .text {
    padding-left: 0;
    padding-right: 0;
  }

 /* แนวตั้ง */
 @media only screen and (orientation:portrait){
  .box-Learning .arrow-default {
    display: none;
  }
  .box-Learning .owl-nav {
    display: flex !important;
    margin-top: 20px;
    justify-content: right;
  }
 } 
 /* แนวนอน */
 @media only screen and (orientation:landscape){
 
 }
}
