.box-banner {

}
  .box-banner .owl-carousel {
    border-radius: var(--border_radius);
    overflow: hidden;
  }
  .box-banner img.img-banner {
    object-fit: cover;
    background-color: #162522;
    aspect-ratio: 1920/848;
    object-position: center;
  }
  .box-banner .box-text {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 2% 3%;
  }
    .box-banner .b-text {
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: flex-start;
    }
    .box-banner .b-text.text-right {
      text-align: right;
      margin-left: auto;
    }
    .box-banner .b-text h1 span {
      font-size: 0.7em;
    }
    .box-banner .owl-carousel .b-text > *:nth-child(1) {
      opacity: 0;
      transition-property: opacity;
      transition-delay: .3s;
     }
     .box-banner .owl-item.active .b-text > *:nth-child(1) {
      opacity: 1;
      -webkit-animation:fadeInUp 1s .3s;
      animation:fadeInUp 1s .3s;
     }
     .box-banner .owl-carousel .b-text > *:nth-child(2) {
      opacity: 0;
      transition-property: opacity;
      transition-delay: .6s;
     }
     .box-banner .owl-item.active .b-text > *:nth-child(2) {
      opacity: 1;
      -webkit-animation:fadeInUp 1s .6s;
      animation:fadeInUp 1s .6s;
     }
     .box-banner .owl-carousel .b-text > *:nth-child(3) {
      opacity: 0;
      transition-property: opacity;
      transition-delay: .9s;
     }
     .box-banner .owl-item.active .b-text > *:nth-child(3) {
      opacity: 1;
      -webkit-animation:fadeInUp 1s .9s;
      animation:fadeInUp 1s .9s;
     }
     .box-banner .owl-carousel .b-text > *:nth-child(4) {
      opacity: 0;
      transition-property: opacity;
      transition-delay: 1.2s;
     }
     .box-banner .owl-item.active .b-text > *:nth-child(4) {
      opacity: 1;
      -webkit-animation:fadeInUp 1s 1.2s;
      animation:fadeInUp 1s 1.2s;
     }
     .box-banner .owl-carousel .b-text > *:nth-child(5) {
      opacity: 0;
      transition-property: opacity;
      transition-delay: 1.5s;
     }
     .box-banner .owl-item.active .b-text > *:nth-child(5) {
      opacity: 1;
      -webkit-animation:fadeInUp 1s 1.5s;
      animation:fadeInUp 1s 1.5s;
     }
     .box-banner .owl-carousel .b-text > *:nth-child(6) {
      opacity: 0;
      transition-property: opacity;
      transition-delay: 1.8s;
     }
     .box-banner .owl-item.active .b-text > *:nth-child(6) {
      opacity: 1;
      -webkit-animation:fadeInUp 1s 1.8s;
      animation:fadeInUp 1s 1.8s;
     }
   
@-webkit-keyframes fadeInUp{
 0%{
  opacity:0;
  -webkit-transform:translateY(50px);
  transform:translateY(50px);
 }
 100%{
  opacity:1;
  -webkit-transform:translateY(0);
  transform:translateY(0);
 }
}
@keyframes fadeInUp{
 0%{
  opacity:0;
  -webkit-transform:translateY(50px);
  -ms-transform:translateY(50px);
  transform:translateY(50px);
 }
 100%{
  opacity:1;
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0);
 }
}

.box-museum {
  color: #fff;
  background: linear-gradient(180deg, #2BCB7E 0%, #21698b 100%);
  text-align: center;
  margin-bottom: -1px;
}
  .box-museum .head::after {
    bottom: -20px;
    width: 140px;
  }
  .box-museum .container {
    background: url(../../public/images/bg-museum.jpg) no-repeat center;
    background-size: cover;
    padding-top: 6%;
    padding-bottom: 8%;
  }
    .box-museum img.--img {
      border: 3px solid #AAF83D;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 50%;
      width: 130px;
      margin-bottom: 10px;
    }

  .box-Ourmuseum {
    background: linear-gradient(180deg, #ffff 0%, rgba(234, 234, 234, 0) 100%);
  }
    .box-Ourmuseum .owl-carousel {

    }
      .box-Ourmuseum .owl-item:not([style*="width"]) {
        display: none;
      }
      .box-Ourmuseum .owl-item:not([style*="width"]):first-child {
        opacity: 0;
        visibility: hidden;
        max-height: 315px;
        display: block;
      }

.box-Learning {
  border-top: 1px solid #E7E7E7;
  background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, #EBEBEB 100%);
}
  .box-Learning .owl-carousel {
    width: 104%;
    margin-left: -4%;
  }
    .box-Learning .item .img img {
      aspect-ratio: 150 / 96;
    }
      .box-Learning .item .text {
        text-align: right;
      }
    
  .box-Learning .arrow-default {
    display: flex;
    min-height: 175px;
    align-items: start;
    margin-top: 23px;
  }
    .box-Learning .arrow-default .o-prev ,
    .box-Learning .arrow-default .o-next {
      background: url(../images/icon-prev.png) no-repeat center;
      background-size: contain;
      margin: 0px 5px;
      width: 40px;
      aspect-ratio: 1;
    }
    .box-Learning .arrow-default .o-next {
      background-image: url(../images/icon-next.png);
    }

    .box-Learning .owl-nav {
      all: initial;
      order: 1;
      display: none !important;
      justify-content: center;
    }
      .box-Learning .owl-nav button {
        position: inherit;
        transform: none !important;
        background-color: #000;
        background: url(../images/icon-prev.png) no-repeat center;
        background-size: contain;
        margin: 0px 5px;
        width: 40px;
      }
        .box-Learning .owl-nav button.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
        .box-Learning .owl-nav button.owl-next {
          background-image: url(../images/icon-next.png);
        }

.box-Calendar {
  background: linear-gradient(180deg, #EBEBEB 0%, #FFFFFF 100%);
}
  .box-Calendar .owl-carousel {
    padding: 20px 50px;
  }
    .box-Calendar .owl-nav {
      
    }
      .box-Calendar .owl-nav button {
        background: url(../images/icon-prev.png) no-repeat center;
        background-size: contain;
        width: 42px;
      }
        .box-Calendar .owl-nav button.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
        .box-Calendar .owl-nav button.owl-next {
          
        }

  .box-Calendar #data-Calendar .item {
    border-radius: var(--border_radius);
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    aspect-ratio: 630/415;
    margin: 15px 0px;
  }
    .box-Calendar #data-Calendar .item .img {

    }
      .box-Calendar #data-Calendar .item img {
        height: 100%;
        max-width: 100%;
        object-fit: cover;
      }

    .box-Calendar #data-Calendar .item .text {
      background: linear-gradient(180deg, #2BCB7E 0%, #37A8E2 100%);
      color: #fff;
      padding: 21px;
      display: flex;
      flex-direction: column;
    }
      .box-Calendar #data-Calendar .item .text .-event {
        font-size: 20px;
        width: 64px;
        aspect-ratio: 1;
        border-radius: 50%;
        padding-bottom: 10px;
        line-height: 9px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
      }
      .box-Calendar #data-Calendar .item .text .-event.ac {
        color: #669525;
        background: #fff;
      }
        .box-Calendar #data-Calendar .item .text .-event h4 {
          margin-bottom: 0px;
        }
        .box-Calendar #data-Calendar .item .text .-event.ac h4 {
          font-size: 31px;
        }
      
      .box-Calendar #data-Calendar .item .-date {
        position: relative;
        color: #fff;
      }
        .box-Calendar #data-Calendar .item .-date::before {
          content: "";
          background: url(../images/icon-date2.png) no-repeat center;
          background-size: contain;
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: sub;
          margin-right: 7px;
        }

      .box-Calendar #data-Calendar .item .-view {
        font-size: 0.8125em;
        position: relative;
        color: #fff;
      }
        .box-Calendar #data-Calendar .item .-view::before {
          content: "";
          background: url(../images/icon-eye.png) no-repeat center;
          background-size: contain;
          display: inline-block;
          width: 18px;
          height: 18px;
          vertical-align: sub;
          mix-blend-mode: color-dodge;
          margin-right: 3px;
        }

      .box-Calendar #data-Calendar .item .-type {
        color: #626262;
        background: #E5FDC3;
        border: 0px;
      }
      .box-Calendar #data-Calendar .item a.btn {
        margin-top: auto;
        margin-right: auto;
      }

#slide-Month {
  font-size: 40px;
  text-align: center;
}

#slide-Day {

}
  #slide-Day .owl-stage {
    margin-left: auto;
  }
    #slide-Day .item {
      text-align: center;
    }
      #slide-Day .item span {
        font-size: 16px;
      }
      #slide-Day .item div {
        font-size: 20px;
        width: 64px;
        aspect-ratio: 1;
        border-radius: 50%;
        padding-bottom: 10px;
        line-height: 6px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        color: #626262;
      }
      #slide-Day .item.active div {
        background: linear-gradient(180deg, #2BCB7E 0%, #37A8E2 100%);
        color: #fff;
      }
        #slide-Day .item h4 {
          font-size: 24px;
          margin: 0px;
        }
        #slide-Day .item.active h4 {
          font-size: 31px;
        }

    #slide-Day .item::after {
      content: "";
      position: absolute;
      right: 0px;
      height: 44px;
      border-left: 1px solid #999F9E;
      top: 50%;
      transform: translateY(-50%);
    }
    #slide-Day .owl-item:last-child .item::after ,
    #slide-Day .owl-item.active+.owl-item.active+.owl-item.active+.owl-item.active+.owl-item.active .item::after {
      display: none;
    }

.box-Market {
  
}
  .box-Market .item-show {
    border-radius: var(--border_radius);
    overflow: hidden;
    position: relative;
    display: block;
  }
    .box-Market .item-show .img {
      background: #efefef;
    }
      .box-Market .item-show img {
        aspect-ratio: 140 / 54;
        object-fit: cover;
      }

    .box-Market .item-show .text {
      padding: 18px;
      position: absolute;
      inset: auto 0 0 0;
      color: #fff;
      background: linear-gradient(180deg, rgb(43 203 126 / 48%) 0%, #37A8E2 100%);
      border-radius: 0 0 var(--border_radius) var(--border_radius);
    }
      .box-Market .item-show .-date {
        position: relative;
        color: #fff;
      }
      .box-Market .item-show .-date::before {
        content: "";
        background: url(../images/icon-date2.png) no-repeat center;
        background-size: contain;
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: sub;
        margin-right: 7px;
      }

  .box-Market .owl-carousel {
    padding: 20px 50px;
  }
    .box-Market .owl-nav {
      
    }
      .box-Market .owl-nav button {
        background: url(../images/icon-prev.png) no-repeat center;
        background-size: contain;
        width: 42px;
      }
        .box-Market .owl-nav button.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
        .box-Market .owl-nav button.owl-next {
          
        }

    .box-Market .owl-carousel .item {
      border-radius: 50%;
      aspect-ratio: 1;
      width: 118px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      color: #303232;
      font-size: 1.25em;
      font-size: 1.1em;
      border: 1px solid #DADADA;
      color: #9e9e9e;
      border-left-width: 0px;
      border-right-width: 0px;
      cursor: pointer;
      transition: .5s;
    }
    .box-Market .owl-carousel .item.active {
      color: #fff;
    }
      .box-Market .owl-stage-outer::before ,
      .box-Market .owl-stage-outer::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 100%;
        background-color: #ffffff;
        right: -3px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
      .box-Market .owl-stage-outer::before {
        left: -3px;
        right: auto;
      }
        .box-Market .owl-carousel .item hr {
          width: 50px;
          margin: 2px 0px;
          border: 0px;
          border-bottom: 2px solid #303232;
          transition: .5s;
        }
        .box-Market .owl-carousel .item.active hr {
          border-bottom-color: #fff;
        }
        .box-Market .owl-carousel .item::before {
          content: "";
          position: absolute;
          inset: 0;
          background: linear-gradient(180deg, #2BCB7E 0%, #37A8E2 100%);
          z-index: -1;
          border-radius: 50%;
          aspect-ratio: 1;
          height: 100%;
          margin: auto;
          opacity: 0;
          transition: .5s;
        }
        .box-Market .owl-carousel .item.item.active::before {
          opacity: 1;
        }
        .box-Market .owl-carousel .item::after {
          content: "";
          position: absolute;
          right: -1px;
          height: 44px;
          border-left: 1px solid #999F9E;
        }

.box-Agricultural {
  border-top: 1px solid #E7E7E7;
}
  .box-Agricultural .--img-map{
    margin-top: -4%;
    margin-left: -20%;
    margin-bottom: -22%;
    width: 120%;
    max-width: none;
  }

.box-Agricultural-slide {
  background: linear-gradient(360deg, #EAEAEA 0%, rgba(234, 234, 234, 0) 100%);
}
  .box-Agricultural-slide .owl-carousel {
    justify-content: left;
  }
    .box-Agricultural-slide .item {

    }
      .box-Agricultural-slide .item .img {
        width: 53%;
        border-radius: var(--border_radius);
      }
        .box-Agricultural-slide .item .img img {
          aspect-ratio: 109 / 68;
          object-fit: cover;
        }

      .box-Agricultural-slide .item .text {
        background: #239AAACF;
        color: #fff;
        border: 1px solid #DAF6F0AD;
        border-radius: var(--border_radius);
        padding: 3%;
        width: 54%;
        position: absolute;
        right: 17px;
        bottom: -18%;
      }
        .box-Agricultural-slide .item .text .-pro {
          display: grid;
          grid-template-columns: 110px auto;
          gap: 13px;
          align-items: center;
          margin-bottom: 20px;
        }
          .box-Agricultural-slide .item .text .-pro img {
            aspect-ratio: 1;
            display: block;
            width: 110px;
            border-radius: 50%;
          }

    .box-Agricultural-slide .owl-stage-outer {
      padding-bottom: 6%;
      margin-bottom: 0px;
      z-index: 1;
    }
    .box-Agricultural-slide:hover .owl-stage-outer {
      z-index: 0;
    }
      .box-Agricultural-slide .nav-dots-style {
        display: flex !important;
        flex-flow: wrap;
      }

    .box-Agricultural-slide .nav-dots-style .owl-nav ,
    .box-Agricultural-slide .nav-dots-style .owl-dots {
      transform: translateY(-100%);
    }
    
.box-News {
  background: linear-gradient(180deg, #EBEBEB 0%, #FFFFFF 100%);
}
/* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  #slide-Month {
    font-size: 25px;
  }
}

/* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  /* แนวตั้ง */
  @media only screen and (orientation:portrait){
    .box-banner .b-text {
      width: 60%;
    }
    .box-banner .box-text {
      position: relative;
      padding: 22px !important;
    }
    .box-banner .b-text {
      width: 100% !important;
    }
    .box-banner img.img-banner {
      position: absolute;
      height: 100%;
      object-fit: cover;
      inset: 0;
    }
    .box-Agricultural-slide .item .text {
      position: initial;
      width: 100%;
      padding: 18px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .box-Agricultural-slide .item {
      display: grid;
      grid-template-columns: 50% 50%;
    }
    .box-Agricultural-slide .item .img img {
      height: 100%;
    }
    .box-Agricultural-slide .item .img {
      width: 100%;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .box-Agricultural-slide .item .text .-pro img {
      width: 70px;
    }
    .box-Agricultural-slide .item .text .-pro {
      grid-template-columns: 70px auto;
      margin-bottom: 8px;
    }
    .box-Agricultural-slide .item .text .-pro h4 {
      -webkit-line-clamp: 1;
      margin: 0px;
      font-size: 1.2em;
    }
    .box-Agricultural-slide .item .text p {
      margin-bottom: 0px;
    }
    .box-Agricultural-slide .nav-dots-style {
      justify-content: end;
    }
    .box-Agricultural-slide .nav-dots-style .owl-nav ,
    .box-Agricultural-slide .nav-dots-style .owl-dots {
      transform: none;
    }
    .box-Agricultural .--img-map {
      margin-bottom: -10%;
    }
    .box-Agricultural-slide .owl-stage-outer {
      padding-bottom: 10px;
    }
    .box-Learning .owl-carousel {
      width: 100%;
      margin-left: 0px;
    }
    #slide-Day .owl-item.active+.owl-item.active+.owl-item.active+.owl-item.active .item::after {
      display: none;
    }
  }
  /* แนวนอน */
  @media only screen and (orientation:landscape){
    .box-Market .owl-carousel .item {
      transform: scale(0.8);
    }
    #data-Calendar {
      max-width: 690px;
      margin: auto;
    }
  }
}

/* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .box-banner .box-text {
    position: relative;
    padding: 22px !important;
  }
  .box-banner .b-text {
    width: 100% !important;
  }
  .box-banner img.img-banner {
    position: absolute;
    height: 100%;
    object-fit: cover;
    inset: 0;
  }
  .box-Market .item-show .text {
    position: relative;
  }
  .box-Agricultural-slide .item .text {
    position: initial;
    width: 100%;
    padding: 15px;
    font-size: 0.8em;
  }
  .box-Agricultural-slide .item {
    display: grid;
  }
  .box-Agricultural-slide .item .img {
    width: 100%;
  }
  .box-Agricultural-slide .item .text .-pro img {
    width: 50px;
  }
  .box-Agricultural-slide .item .text .-pro {
    grid-template-columns: 50px auto;
    margin-bottom: 8px;
  }
  .box-Agricultural-slide .item .text .-pro h4 {
    -webkit-line-clamp: 1;
    margin: 0px;
    font-size: 1.2em;
  }
  .box-Agricultural-slide .item .text p {
    margin-bottom: 0px;
  }
  .box-Agricultural-slide .nav-dots-style .owl-nav ,
  .box-Agricultural-slide .nav-dots-style .owl-dots {
    transform: none;
  }
  .box-Agricultural .--img-map {
    margin-bottom: -10%;
  }
  .box-Agricultural-slide .owl-stage-outer {
    padding-bottom: 10px;
  }
  .box-Learning .owl-carousel {
    width: 100%;
    margin-left: 0px;
  }
  #slide-Day .item div {
    font-size: 15px;
    line-height: 11px;
    padding-bottom: 0px;
  }
  #slide-Day .item.active h4 {
    font-size: 25px;
  }
  #slide-Day .item h4 {
    font-size: 19px;
  }
  #slide-Day .owl-stage {
    margin-right: auto;
  }
  .box-Market .owl-nav button ,
  .box-Calendar .owl-nav button {
    width: 27px;
  }
  .box-Calendar .owl-carousel ,
  .box-Market .owl-carousel {
    padding: 20px 30px;
  }
  .box-Market {
    padding-bottom: 0px !important;
  }
 /* แนวตั้ง */
 @media only screen and (orientation:portrait){
  .box-banner .b-text {
    width: 100% !important;
    justify-content: end;
    padding-bottom: 8%;
  }
  .box-Market .owl-carousel .item {
    width: calc(100% - 15px);
    font-size: 11px;
    font-weight: 500;
  }
  .box-Market .owl-carousel .item::after ,
  #slide-Day .item::after {
    height: 21px;
  }
  .box-Agricultural-slide .owl-carousel {
    justify-content: center;
  }
  .box-Learning .arrow-default {
    display: none;
  }
  .box-Learning .owl-nav {
    display: flex !important;
  }
  .box-Agricultural-slide .item .text {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .box-Agricultural-slide .item .img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .box-Calendar #data-Calendar .item {
    display: block;
    aspect-ratio: auto;
  }
  #slide-Day .owl-item.active+.owl-item.active+.owl-item.active .item::after {
    display: none;
  }
 } 
 /* แนวนอน */
 @media only screen and (orientation:landscape){
  .box-Market .owl-carousel .item {
    transform: scale(0.8);
  }
  .box-Market .owl-carousel .item::after {
    right: -26px;
  }
  .box-Agricultural-slide .item {
    grid-template-columns: 50% 50%;
  }
  .box-Agricultural-slide .nav-dots-style {
    justify-content: end;
  }
  .box-Agricultural-slide .item .text {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .box-Agricultural-slide .item .img {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .box-Agricultural-slide .item .img img {
    height: 100%;
  }
  #slide-Day .owl-item.active+.owl-item.active+.owl-item.active+.owl-item.active .item::after {
    display: none;
  }
  .box-Calendar #data-Calendar .item {
    aspect-ratio: 630 / 515;
  }
 }
}
