.box-banner {

}
  .box-banner .owl-carousel {
    border-radius: var(--border_radius);
    overflow: hidden;
  }
  .box-banner img.img-banner {
    object-fit: cover;
    background-color: #162522;
    aspect-ratio: 1920/848;
    object-position: center;
  }
  .box-banner .box-text {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 2% 3%;
  }
    .box-banner .b-text {
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: flex-start;
    }
    .box-banner .b-text.text-right {
      text-align: right;
      margin-left: auto;
    }
    .box-banner .b-text h1 span {
      font-size: 0.7em;
    }
    .box-banner .owl-carousel .b-text > *:nth-child(1) {
      opacity: 0;
      transition-property: opacity;
      transition-delay: .3s;
     }
     .box-banner .owl-item.active .b-text > *:nth-child(1) {
      opacity: 1;
      -webkit-animation:fadeInUp 1s .3s;
      animation:fadeInUp 1s .3s;
     }
     .box-banner .owl-carousel .b-text > *:nth-child(2) {
      opacity: 0;
      transition-property: opacity;
      transition-delay: .6s;
     }
     .box-banner .owl-item.active .b-text > *:nth-child(2) {
      opacity: 1;
      -webkit-animation:fadeInUp 1s .6s;
      animation:fadeInUp 1s .6s;
     }
     .box-banner .owl-carousel .b-text > *:nth-child(3) {
      opacity: 0;
      transition-property: opacity;
      transition-delay: .9s;
     }
     .box-banner .owl-item.active .b-text > *:nth-child(3) {
      opacity: 1;
      -webkit-animation:fadeInUp 1s .9s;
      animation:fadeInUp 1s .9s;
     }
     .box-banner .owl-carousel .b-text > *:nth-child(4) {
      opacity: 0;
      transition-property: opacity;
      transition-delay: 1.2s;
     }
     .box-banner .owl-item.active .b-text > *:nth-child(4) {
      opacity: 1;
      -webkit-animation:fadeInUp 1s 1.2s;
      animation:fadeInUp 1s 1.2s;
     }
     .box-banner .owl-carousel .b-text > *:nth-child(5) {
      opacity: 0;
      transition-property: opacity;
      transition-delay: 1.5s;
     }
     .box-banner .owl-item.active .b-text > *:nth-child(5) {
      opacity: 1;
      -webkit-animation:fadeInUp 1s 1.5s;
      animation:fadeInUp 1s 1.5s;
     }
     .box-banner .owl-carousel .b-text > *:nth-child(6) {
      opacity: 0;
      transition-property: opacity;
      transition-delay: 1.8s;
     }
     .box-banner .owl-item.active .b-text > *:nth-child(6) {
      opacity: 1;
      -webkit-animation:fadeInUp 1s 1.8s;
      animation:fadeInUp 1s 1.8s;
     }
   
@-webkit-keyframes fadeInUp{
 0%{
  opacity:0;
  -webkit-transform:translateY(50px);
  transform:translateY(50px);
 }
 100%{
  opacity:1;
  -webkit-transform:translateY(0);
  transform:translateY(0);
 }
}
@keyframes fadeInUp{
 0%{
  opacity:0;
  -webkit-transform:translateY(50px);
  -ms-transform:translateY(50px);
  transform:translateY(50px);
 }
 100%{
  opacity:1;
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0);
 }
}

.box-museum {
  color: #fff;
  background: linear-gradient(180deg, #2BCB7E 0%, #21698b 100%);
  text-align: center;
  margin-bottom: -1px;
}
  .box-museum .container {
    background: url(../../public/images/bg-museum.jpg) no-repeat center;
    background-size: cover;
    padding-top: 6%;
    padding-bottom: 8%;
  }
    .box-museum img.--img {
      border: 3px solid #AAF83D;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 50%;
      width: 130px;
      margin-bottom: 10px;
    }

  .box-Ourmuseum {
    background: linear-gradient(180deg, #ffff 0%, rgba(234, 234, 234, 0) 100%);
  }
    .box-Ourmuseum .owl-carousel {

    }
      .box-Ourmuseum .item {
        border-radius: var(--border_radius);
        overflow: hidden;
        text-decoration: none;
        color: #000;
        display: block;
      }
        .box-Ourmuseum .item img {
          aspect-ratio: 103 / 82;
          object-fit: cover;
        }
        .box-Ourmuseum .owl-item:not([style*="width"]) {
          display: none;
        }
        .box-Ourmuseum .owl-item:not([style*="width"]):first-child {
          opacity: 0;
          visibility: hidden;
          max-height: 315px;
          display: block;
        }
        .box-Ourmuseum .item .text {
          padding: 18px;
          position: absolute;
          inset: auto 0 0 0;
          color: #fff;
          background: linear-gradient(180deg, rgb(43 203 126 / 48%) 0%, #37A8E2 100%);
          border-radius: 0 0 var(--border_radius) var(--border_radius);
        }
          .box-Ourmuseum .item .text span {
            font-size: 1.125em;
          }
            .box-Ourmuseum .item .text span > img {
              width: 18px;
              display: inline-block;
              margin-right: 4px;
              mix-blend-mode: color-dodge;
            }

.box-Learning {
  background: linear-gradient(180deg, #EBEBEB 0%, #FFFFFF 100%);
}

.box-Market {
  
}
  .box-Market .item-show {
    border-radius: var(--border_radius);
    overflow: hidden;
    position: relative;
    display: block;
  }
    .box-Market .item-show .img {
      background: #efefef;
    }
      .box-Market .item-show img {
        aspect-ratio: 140 / 54;
        object-fit: cover;
      }

    .box-Market .item-show .text {
      padding: 18px;
      position: absolute;
      inset: auto 0 0 0;
      color: #fff;
      background: linear-gradient(180deg, rgb(43 203 126 / 48%) 0%, #37A8E2 100%);
      border-radius: 0 0 var(--border_radius) var(--border_radius);
    }
      .box-Market .item-show .-date {
        position: relative;
      }
      .box-Market .item-show .-date::before {
        content: "";
        background: url(../images/icon-date2.png) no-repeat center;
        background-size: contain;
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: sub;
        margin-right: 7px;
      }

  .box-Market .owl-carousel {
    padding: 20px 50px;
  }
    .box-Market .owl-nav {
      
    }
      .box-Market .owl-nav button {
        background: url(../images/icon-prev.png) no-repeat center;
        background-size: contain;
        width: 42px;
      }
        .box-Market .owl-nav button.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
        .box-Market .owl-nav button.owl-next {
          
        }

    .box-Market .owl-carousel .item {
      border-radius: 50%;
      aspect-ratio: 1;
      width: 118px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      color: #303232;
      font-size: 1.25em;
      font-size: 1.1em;
      border: 1px solid #DADADA;
      color: #9e9e9e;
      border-left-width: 0px;
      border-right-width: 0px;
      cursor: pointer;
      transition: .5s;
    }
    .box-Market .owl-carousel .item.active {
      color: #fff;
    }
      .box-Market .owl-stage-outer::before ,
      .box-Market .owl-stage-outer::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 100%;
        background-color: #ffffff;
        right: -3px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
      .box-Market .owl-stage-outer::before {
        left: -3px;
        right: auto;
      }
        .box-Market .owl-carousel .item hr {
          width: 50px;
          margin: 2px 0px;
          border: 0px;
          border-bottom: 2px solid #303232;
          transition: .5s;
        }
        .box-Market .owl-carousel .item.active hr {
          border-bottom-color: #fff;
        }
        .box-Market .owl-carousel .item::before {
          content: "";
          position: absolute;
          inset: 0;
          background: linear-gradient(180deg, #2BCB7E 0%, #37A8E2 100%);
          z-index: -1;
          border-radius: 50%;
          aspect-ratio: 1;
          height: 100%;
          margin: auto;
          opacity: 0;
          transition: .5s;
        }
        .box-Market .owl-carousel .item.item.active::before {
          opacity: 1;
        }
        .box-Market .owl-carousel .item::after {
          content: "";
          position: absolute;
          right: -1px;
          height: 44px;
          border-left: 1px solid #999F9E;
        }

.box-Knowledge {
  
}
  .box-Knowledge .box-navTabs {

  }

.box-News {
  background: linear-gradient(180deg, #EBEBEB 0%, #FFFFFF 100%);
}
  .box-News .item {
    text-decoration: none;
    color: #000;
  }
    .box-News .item .img {
      border-radius: var(--border_radius);
    }
      .box-News .item img {
        aspect-ratio: 123 / 81;
        object-fit: cover;
      }
      .box-News .owl-item:not([style*="width"]) {
        display: none;
      }
      .box-News .owl-item:not([style*="width"]):first-child {
        opacity: 0;
        visibility: hidden;
        max-height: 482px;
        display: block;
      }

    .box-News .item .text {
      margin-top: 12px;
    }
      .box-News .item .-date {
        color: #999F9E;
        font-size: 0.8125em;
        position: relative;
      }
        .box-News .item .-date::before {
          content: "";
          background: url(../images/icon-date.png) no-repeat center;
          background-size: contain;
          display: inline-block;
          width: 18px;
          height: 18px;
          vertical-align: sub;
        }

        .box-News .item .-view {
        color: #999F9E;
        font-size: 0.8125em;
        position: relative;
      }
        .box-News .item .-view::before {
          content: "";
          background: url(../images/icon-eye.png) no-repeat center;
          background-size: contain;
          display: inline-block;
          width: 18px;
          height: 18px;
          vertical-align: sub;
        }

      .box-News .item .-type {
        font-size: 0.75em;
        color: #669525;
        border: 1px solid #669525;
        padding: 3px 9px;
        border-radius: 50px;
        margin: 12px 0px 7px 0px;
        display: inline-block;
      }
      .box-News .item h5 {
        height: 48px;
      }

/* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 1024px) {

}

/* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

 /* แนวตั้ง */
 @media only screen and (orientation:portrait){
  .box-banner .b-text {
    width: 60%;
  }
  .box-banner .box-text {
    position: relative;
    padding: 22px !important;
   }
   .box-banner .b-text {
    width: 100% !important;
   }
   .box-banner img.img-banner {
    position: absolute;
    height: 100%;
    object-fit: cover;
    inset: 0;
   }
 }
 /* แนวนอน */
 @media only screen and (orientation:landscape){
  .box-Market .owl-carousel .item {
    transform: scale(0.8);
  }
  .box-Market .owl-carousel .item::after {
    right: -15px;
  }
 }
}

/* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .box-banner .box-text {
    position: relative;
    padding: 22px !important;
  }
  .box-banner .b-text {
    width: 100% !important;
  }
  .box-banner img.img-banner {
    position: absolute;
    height: 100%;
    object-fit: cover;
    inset: 0;
  }
  .box-Market .item-show .text {
    position: relative;
  }
 /* แนวตั้ง */
 @media only screen and (orientation:portrait){
  .box-banner .b-text {
    width: 100% !important;
    justify-content: end;
    padding-bottom: 8%;
  }
  .box-Market .owl-carousel .item {
    width: calc(100% - 15px);
    font-size: 10px;
  }
  .box-Market .owl-carousel .item::after {
    height: 21px;
  }
 } 
 /* แนวนอน */
 @media only screen and (orientation:landscape){
  .box-Market .owl-carousel .item {
    transform: scale(0.8);
  }
  .box-Market .owl-carousel .item::after {
    right: -26px;
  }
 }
}
