@charset "UTF-8";
@charset "iso-8859-15";

#join-project {
}
  #join-project .form-container {
    max-width: 1000px;
    margin: auto;
  }

.box-status {
  max-width: 800px;
  margin: 40px auto;
}
  .box-status ul.-status-bar {
    padding: 0px;
    list-style-type: none;
    display: flex;
    margin-top: 20px;
    text-align: center;
    counter-reset: item;
    justify-content: center;
  }
    .box-status ul.-status-bar li {
      counter-increment: item;
      width: 100%;
      position: relative;
      max-width: 200px;
    }
    .box-status ul.-status-bar.Asyouwish li:nth-child(1) ,
    .box-status ul.-status-bar.Asyouwish li:nth-child(2) {
      display: none;
    }
    .box-status[data-status="1"] ul.-status-bar li:nth-child(1)~li ,
    .box-status[data-status="2"] ul.-status-bar li:nth-child(2)~li ,
    .box-status[data-status="3"] ul.-status-bar li:nth-child(3)~li {
      mix-blend-mode: luminosity;
      opacity: 0.5;
    }
    .box-status ul.-status-bar li::before {
      content: "";
      color: #fff;
      position: absolute;
      width: 100%;
      height: 3px;
      transform: translateX(calc(-100% + 20px));
      top: 17px;
      background : #5AD69D;
    }
    .box-status ul.-status-bar li:first-child:before ,
    .box-status ul.-status-bar.Asyouwish li:nth-child(2):before ,
    .box-status ul.-status-bar.Asyouwish li:nth-child(3):before {
      display: none;
    }
    .box-status[data-status="1"] ul.-status-bar li:nth-child(1)::before ,
    .box-status[data-status="2"] ul.-status-bar li:nth-child(2)::before ,
    .box-status[data-status="3"] ul.-status-bar li:nth-child(3)::before ,
    .box-status[data-status="4"] ul.-status-bar li:nth-child(4)::before {
      background: linear-gradient(90deg, #2BCB7E 0%, #37A8E2 100%);
    }
      .box-status ul.-status-bar span.circle {
        width: 40px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto 15px auto;
        border:2px solid #31b9b2;
        border-radius: 50%;
        font-weight: bold;
        background: linear-gradient(180deg, #2BCB7E 0%, #37A8E2 100%);
        color: transparent;
        position: relative;
        z-index: 1;
        overflow: hidden;
      }
      .box-status[data-status="1"] ul.-status-bar li:nth-child(1) span.circle ,
      .box-status[data-status="2"] ul.-status-bar li:nth-child(1)~li span.circle ,
      .box-status[data-status="3"] ul.-status-bar li:nth-child(2)~li span.circle ,
      .box-status[data-status="4"] ul.-status-bar li:nth-child(3)~li span.circle {
        background: linear-gradient(180deg, #2BCB7E 0%, #37A8E2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
        .box-status[data-status="1"] ul.-status-bar li span.circle::before ,
        .box-status[data-status="2"] ul.-status-bar li:nth-child(1)~li span.circle::before ,
        .box-status[data-status="3"] ul.-status-bar li:nth-child(2)~li span.circle::before ,
        .box-status[data-status="4"] ul.-status-bar li:nth-child(3)~li span.circle::before {
          content: "";
          display: flex;
          justify-content: center;
          align-items: center;
          position:absolute;
          inset: 0;
          background-color: #fff;
        }
        .box-status ul.-status-bar span.circle::after {
          content: "\f00c";
          font-family: 'FontAwesome';
          color: #fff;
          position: absolute;
        }
        .box-status[data-status="1"] ul.-status-bar li span.circle::after ,
        .box-status[data-status="2"] ul.-status-bar li:nth-child(1)~li span.circle::after ,
        .box-status[data-status="3"] ul.-status-bar li:nth-child(2)~li span.circle::after ,
        .box-status[data-status="4"] ul.-status-bar li:nth-child(3)~li span.circle::after {
          content: "0" counters(item, ".");
          font-family: 'Prompt', sans-serif !important;
          inset: 0;
          background: linear-gradient(180deg, #2BCB7E 0%, #37A8E2 100%);
          -webkit-background-clip: text;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #000;
        }

  #join-project [class*=b-status] {
    display: none;
  }
  #join-project:has(.box-status[data-status="3"]) .b-status3 ,
  #join-project:has(.box-status[data-status="4"]) .b-status4 {
    display: block;
  }


.progress-container {
  display: flex;
  align-items: center;
  --color-b:#2bc1a2;
  --color-t:#eaf8f6;
  margin-top: 25px;
}
  .progress-circle {
    position: relative;
    width: 80px;
    aspect-ratio: 1;
    background: conic-gradient(var(--color-b) 100%, var(--color-t) 0%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  .box-status[data-status="1"] .progress-circle {
    background: conic-gradient(var(--color-b) 25%, var(--color-t) 0%);
  }
  .box-status[data-status="2"] .progress-circle ,
  .box-status[data-status="3"] .progress-container.Asyouwish .progress-circle {
    background: conic-gradient(var(--color-b) 50%, var(--color-t) 0%);
  }
  .box-status[data-status="3"] .progress-circle {
    background: conic-gradient(var(--color-b) 75%, var(--color-t) 0%);
  }
  .progress-circle::before {
    content: '';
    position: absolute;
    width: calc(100% - 15px);
    aspect-ratio: 1;
    background: white;
    border-radius: 50%;
  }
    .progress-text {
      position: absolute;
      font-size: 14px;
      font-weight: bold;
    }
      .progress-text::before {
        content: "4";
        margin-right: 7px;
      }
      .box-status[data-status="1"] .progress-text::before ,
      .box-status[data-status="3"] .progress-container.Asyouwish .progress-text::before {
        content: "1";
      }
      .box-status[data-status="2"] .progress-text::before ,
      .box-status[data-status="4"] .progress-container.Asyouwish .progress-text::before {
        content: "2";
      }
      .box-status[data-status="3"] .progress-text::before {
        content: "3";
      }
 
    .progress-title::before {
      content: "สรุปการจอง";
    }
    .box-status[data-status="1"] .progress-title::before {
      content: "หลักสูตร";
    }
    .box-status[data-status="2"] .progress-title::before {
      content: "กิจกรรม";
    }
    .box-status[data-status="3"] .progress-title::before {
      content: "จอง";
    }
    .box-status[data-status="4"] .progress-title::after {
      content: "ขั้นตอนสุกท้าย";
      font-size: 14px;
      color: #838383;
      display: block;
      margin-top: 12px;
    }
    .progress-step {
      font-size: 14px;
      color: #838383;
    }
      .box-status[data-status="1"] .progress-step span::before {
        content: "กิจกรรม";
      }
      .box-status[data-status="2"] .progress-step span::before {
        content: "จอง";
      }
      .box-status[data-status="3"] .progress-step span::before {
        content: "สรุปการจอง";
      }

    .box-status[data-status="4"] .progress-step {
      display: none;
    }

  

#form-course {
  
}
  #form-course .form-container {
    border: 1px solid #CCCCCC;
    padding: 15px;
    border-radius: var(--border_radius);
  }
    #form-course .form-check[disabled] {
      pointer-events: none;
      opacity: 0.3;
    }

  #form-course .-paper {
    counter-reset: group;
  }
    #form-course .-paper [data-checkbox] {
      counter-increment: group;
      counter-reset: item;
    }
    #form-course .-paper [data-checkbox] > h6::before {
      content: "*" counters(group, ".") ".";
      margin-right: 8px;
    }
      #form-course .-paper [data-checkbox] .form-group {
        counter-increment: item;
      }
        #form-course .-paper .form-group .head-group::before {
          content: counters(group, ".") "." counters(item, ".");
          margin-right: 8px;
        }

  #form-course .-paper .animated-text {
    animation: scaleAnimation .7s ease-in-out 8;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
  @keyframes scaleAnimation {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.05);}
  }

#form-course2 .form-check {

}
  #form-course2 .box-Ourmuseum .text {
    display: flex;
  }
    #form-course2 .box-Ourmuseum .text label {
      margin: 0px;
      width: calc(100% - 25px);
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #form-course2 .box-Ourmuseum .text label::after {
      content: "";
      position: absolute;
      aspect-ratio: 103 / 82;
      bottom: 0px;
      left: 0px;
      width: 100%;
    }
    #form-course2 .box-Ourmuseum .text .custom-radio {
      position: initial;
      margin: 5px 0px 5px 8px;
    }
    #form-course2 .box-Ourmuseum .custom-radio + label {
      position: initial;
      padding-left: 0px;
    }
    #form-course2 .box-Ourmuseum .custom-radio + label::before {
      left: auto;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

  #form-course2 .form-check input[type=checkbox] {

  }

  #form-course2 .form-check label {

  }
  #form-course2 .form-check .box-form-check {
    display: none;
  }
  #form-course2 .form-check input[type=checkbox]:checked+label+.box-form-check {
    display: block;
  }
  #form-course2 .box-form-course .has-error {
    outline-width: 5px;
  }

  #form-course2 .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin-bottom: 0px;
  }
    #form-course2 .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    #form-course2 .switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: 0.4s;
      border-radius: 28px;
    }
      #form-course2 .switch .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
      } 
      #form-course2 .switch input:checked + .slider {
        background-color: #4CAF50;
      }
      #form-course2 .switch input:checked + .slider:before {
        transform: translateX(22px);
      }

  #form-course2 #box-Snack_cost ,
  #form-course2 #box-switch_food {

  }
  #form-course2 #box-Snack_cost.disabled ,
  #form-course2 #box-switch_food.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

#form-course3 {

}
  #form-course3 .box-form-course {
    background: #fbfbfb;
    padding: 25px;
    border-radius: var(--border_radius);
  }
    #form-course3 .form-group {

    }
      #form-course3 .form-group label {
        font-size: 13px;
      }
      #form-course3 .form-group input ,
      #form-course3 .form-group textarea {
        border: 0px !important;
        padding: 0px;
        height: auto !important;
        color: #495057 !important;
        background-color: transparent;
        display: block;
        font-family: 'Prompt', sans-serif !important;
        font-weight: 100;
        cursor: default;
        pointer-events: none;
        outline: none;
      }
      #form-course3 .form-group .input-width-auto {
        margin-right: 10px;
        display: none;
      }
      #form-course3 .form-group .input-width-auto:has(span:not(:empty)) {
        display: block !important;
      }
        #form-course3 .form-group .input-width-auto input ,
        #form-course3 .form-group .input-width-auto textarea {
          display: none;
        }

      #form-course3 .form-group li {

      }
        #form-course3 .form-group li {
          display: none;
        }
        #form-course3 .form-group li:has(.input-width-auto span:not(:empty)) {
          display: list-item !important;
        }

.box-form-course {

}
  .box-form-course .-paper {
    border-radius: var(--border_radius);
    padding: 25px;
    background: rgb(249 249 249 / 60%);
  }
    .box-form-course .-number {
      background: linear-gradient(180deg, #2BCB7E 0%, #37A8E2 100%);
      width: 48px;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 24px;
      border-radius: 50%;
      margin-right: 12px;
      margin-top: -8px;
    }
    .box-form-course .form-check {
      margin-bottom: 10px;
    }
      .box-form-course .form-check-label {
        margin-left: 5px;
      }
      .box-form-course .column-pc-2 {
        column-count: 2;
      }
      .box-form-course .has-error {
        background: #f9ebec;
        outline: 12px solid #f9ebec;
      }
      
  /* เทส form-course2 */
  /* [required], [required]+ span,.text:has([required]) {
    filter: drop-shadow(2px 4px 6px rgb(237, 91, 91));
  }
  [disabled], [disabled]+ span,.text:has([disabled]) {
    mix-blend-mode: difference;
  }
  #form-course2 .form-check .box-form-check {
  display: block;
  } */

/* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 1024px) {

}

/* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  /* แนวตั้ง */
  @media only screen and (orientation:portrait){
    
  }
  /* แนวนอน */
  @media only screen and (orientation:landscape){

  }
}

/* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .box-form-course .column-pc-2 {
    column-count: 1;
  }
  #form-course2 .box-Ourmuseum .text {
    position: relative;
    padding: 5px 10px;
  }
  #form-course2 .box-Ourmuseum .text label {
    height: 48px;
    font-size: 16px;
  }
  #form-course2 .box-Ourmuseum .custom-radio + label::before {
    right: 10px;
  }
 /* แนวตั้ง */
 @media only screen and (orientation:portrait){
  .box-form-course .-paper {
    padding: 15px;
  }
 } 
 /* แนวนอน */
 @media only screen and (orientation:landscape){
  
 }
}
