/* :root {
	--primary: #a3f236;
	--hov-primary: #57ac1a;
	--info: #AAF83D;
	--secondary: #cfcfcf;
	--muted: #dcdcdc;
	--muted2: #E8E8E8;
	--muted3: #FAFAFA;
	--border_radius: 20px;
}

body {
	background-color: #000 !important;
}

header {
	background: #ababab;
}

.header-top-link2 .box-profile a.icon-pro span {
	filter: brightness(5);
}

.header-top-link2 .icon-search {
	mix-blend-mode: color-dodge;
}

header #navbarMain .navbar-nav .nav-item.dropdown .dropdown-menu::before {
	background: #e2e2e2;
}

header .navbar-toggler-icon:after {
	filter: invert(1) brightness(5);
}

.header-top-link2 .box-profile .dropdown-menu .dropdown-item i::before {
	color: #000 !important;
}

div#navbarMain li.nav-item.active::after {
	mix-blend-mode: color-dodge;
}

.footer-widget {
	color: #ffffff;
	background: #949494;
}

footer {
	background: #000;
}

#content,
section:not(.box-museum),
.box-Market .owl-stage-outer::before,
.box-Market .owl-stage-outer::after {
	background: #777777 !important;
}

section[style*="background: linear-gradient(180deg"] {
	background: #9f9f9f !important;
}

.-sticky {
	filter: invert(1);
	background: linear-gradient(180deg, rgb(136 136 136) 15%, rgb(235 235 235 / 0%) 100%);
}

.-sticky * {
	filter: invert(1);
}

.box-navTabs .nav-link {
	background: #383838;
	border-color: #000;
}

.box-navTabs .nav-link.active {
	filter: none;
}

.box-Market .owl-carousel .item:not(.active) {
	background: #ffffff;
}

.box-navTabs .nav-link:hover {
	background-color: #767676;
}

.box-Market .owl-carousel .item.active {}

.box-Market .owl-stage-outer::before,
.box-Market .owl-stage-outer::after {
	background-color: #000;
}

.header-top-link ul.styleswitch li,
.header-top-link ul.textsizer li {
	background: #000;
}

.header-top-link ul.styleswitch li.active,
.header-top-link ul.textsizer li.active {
	background: #797979;
	color: #fff !important;
}

form[style="background: #F9F9F999;"] {
	padding: 9px;
	background: #a0a0a0 !important;
	border-radius: 8px;
}

header #navbarMain .navbar-nav .dropdown-menu * {
	color: #888888;
}

.select2-container {
	background: #000;
}

.select2-container--default .select2-selection--single,
.select2-dropdown {
	background: #9a9a9a;
	border-color: #c3c3c3 !important;
}

#lang-change {
	background: #000;
}

#lang-change .dropdown-item {
	background: #000;
}

html[lang="en"] #lang-change .dropdown-item[data-flag="en"],
html[lang="th"] #lang-change .dropdown-item[data-flag="th"],
html[lang="ch"] #lang-change .dropdown-item[data-flag="ch"] {
	background: #929292;
}

.box-Market .owl-nav {
	filter: invert(1);
}

.-date,
.-view {
	mix-blend-mode: color-dodge;
	color: #fff;
}

.text-black-50 {
	color: rgb(255 255 255 / 50%) !important;
}

#slide-Day .item div {
	color: #fff !important;
}

.box-Learning .arrow-default {
	mix-blend-mode: plus-lighter;
	filter: hue-rotate(45deg);
}

.box-Calendar .owl-nav {
	filter: brightness(10);
}

.-date::before,
.-view::before {
	filter: brightness(4);
}

.nav-dots-style .owl-nav {
	filter: brightness(2);
}

.table-striped tbody tr:nth-of-type(odd) {
	background: #878787;
}

.box-navTabs .owl-carousel .owl-item .btn,
.box-navTabs .owl-carousel .owl-item .btn img {
	filter: none;
}

footer,
.footer-reserved,
footer .social .-text span,
footer .mb-absolute {
	color: #ffffff;
}

.footer-reserved {
	background: #353535;
	color: #fff;
} */

/* ---------------------------------------------------/////// Header ///////--------------------------------------------------- */
/* ------------------- PC ------------------- */
@media only screen and (min-width: 1025px) {
	/* body header #navbarMain .navbar-nav .dropdown-item:hover {
		color: #8a8a8a !important;
	} */
}

/* ------------------- นอกเหนือ PC ------------------- */
@media only screen and (max-width: 1024px) {

	/* header .navbar-collapse,
	.header-top-link2 .header-top-mobile,
	.header-top-link {
		background-color: #a8a8a8;
	}

	.header-top-link2 .header-top-mobile button[data-target="#navbarMain"] {
		mix-blend-mode: color-dodge;
	}

	div#navbarMain li.nav-item.active a.nav-link,
	div#navbarMain li.nav-item:hover a.nav-link {
		background-color: transparent;
	}

	header #navbarMain .navbar-nav .dropdown-menu {
		background: #c1c1c1;
	}

	.header-top-link2 .box-profile .dropdown-menu {
		background: #e0e0e0;
	}

	.header-top-link2 .box-profile .dropdown-menu::before,
	.header-top-link2 .box-profile .dropdown-menu::after {
		border-bottom-color: #e0e0e0;
	}

	.header-top-link2 .box-profile a.icon-pro::after {
		mix-blend-mode: color-dodge;
	}

	.header-top-link ul.styleswitch li,
	.header-top-link ul.textsizer li {
		color: #000;
	} */
}